aside.global
	li Some sample information that could be inside the list item on the sidebar.
	li Some sample information that could be inside the list item on the sidebar.
	li Some sample information that could be inside the list item on the sidebar.
	li Some sample information that could be inside the list item on the sidebar.
article.global
	aside.date Testing adljkfqwheoijhfiouwenvakjsdn;a
	section.content Testing al;skdfjal;ksdjfl;ajs;ldfjal;jsdf
	div.clear
div.clear