!!!
html
	head
		title= title
		meta(name="description", content="Node Philly will be at Manayunk Brewery on Thursday, November 21st for our second annual Hack and Hops event!")
		meta(name="robots", content="index, follow")
		meta(name="geo.placename", content="Philadelphia, Pennsylvania")
		meta(name="geo.location", content="39.96268, -75.13593")
		link(rel="icon", href="/imgs/favicon.ico", type="image/x-icon")
		meta(name="author", content="@bwhitham, @timsavery")
		link(href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='/stylesheets/hackandhops.css')
		script(type='text/javascript', src='/js/jquery1.7.2.js')
		script(type='text/javascript', src='/js/modernizr.js')
		script(type='text/javascript', src='/js/bubbles.js')
	
		script(type="text/javascript")
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-29643918-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

	body
		header
			.whitespace
			.foam
		section.content#content
			nav.logo
			h1 It's time to celebrate.
			p Join us at Manayunk Brewery for the 2nd Annual Hack and Hops to toast another year full of great Node stuff. We’ll keep the awesome going with speakers, swag, food, and of course… beer.
			hr
			h2 Speakers
			p Holder.
			hr
			h2 Partners
			p Holder.
			hr
			h2 Tickets
			p Holder.
		.bubblesContainer
		