!!!
html
	head
		title= title
		meta(name="description", content="Node Philly will be at Yards Brewery on Thursday, December 13th for our first Holiday Hack and Hops event!")
		meta(name="robots", content="index, follow")
		meta(name="geo.placename", content="Philadelphia, Pennsylvania")
		meta(name="geo.location", content="39.96268, -75.13593")
		link(rel="icon", href="/imgs/favicon.ico", type="image/x-icon")
		meta(name="author", content="@bwhitham, @timsavery")
		link(rel='stylesheet', href='/stylesheets/style.css')	
		script(type='text/javascript', src='/js/jquery1.7.2.js')
		script(type='text/javascript', src='/js/modernizr.js')
		script(type='text/javascript', src='/js/tinycarousel.js')
		script(type='text/javascript', src='/js/hackandhops.js')
	
		- var analytics = '<script type="text/javascript">var _gaq=_gaq||[];_gaq.push(["_setAccount","UA-34514579-1"]);_gaq.push(["_trackPageview"]);(function(){var a=document.createElement("script");a.type="text/javascript";a.async=true;a.src=("https:"==document.location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js";var b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b)})()</script>' 
		| !{analytics}

	body.hackandhops
		section.feature
			section.viewport
				section.overview
					article.one Oh the weather outside is frightful, <br> but Node Philly has something delightful…
					article.two 
						article.letscelebrate
							h1 Let's celebrate an awesome year.
							p It's that time of year to say thanks. From Node Philly to all of you, we say "thank you". Thank you to all the Noders, speakers, hackers, sponsors, boxes of pizza, and cases of PBR. It's been a great year and it's time to send it off with a celebration.
							p Join us on December 13th, at Yards Brewery, as we celebrate all the things that make node.js great. There will be speeches from Philly Noders, a tour of Yards, and a special gift from our friends at 
								a(href="http://www.monetate.com", target="_blank") Monetate.  
						article.details
							h2 7:30pm
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
							h2 8:00pm
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
							h2 8:45pm
							p Brewery Tour. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
							h2 9:15pm
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
						div.clear
					article.three
						section.speakersGrid
							section.speakerGridTopRow
								section.speakerTile(speakerExpanded='MarkHeadd')
									div.headshot(name='MarkHeadd')
									h1 Mark Headd
									a.speakercontact(href='http://www.twitter.com/mheadd', target='_blank') @mheadd
									p.brief Chief Data Officer for Philadelphia and @codeforamerica alum.
									a.moreButton See what they'll be sharing
								section.speakerTile(speakerExpanded='PamSelle')
									div.headshot(name='PamSelle')
									h1 Pam Selle
									a.speakercontact(href='http://www.twitter.com/pamasaur', target='_blank') @pamasaur
									p.brief GirlDevelopIT instructor, front-end diva, Rubyist, Pythonista.
									a.moreButton See what they'll be sharing
								section.speakerTile(speakerExpanded='BryanPaluch')
									div.headshot(name='BryanPaluch')
									h1 Bryan Paluch
									a.speakercontact(href='http://www.twitter.com/Letthisbemywrit', target='_blank') @Letthisbemywrit
									p.brief Telecom Engineer at Comcast Labs focused on communication APIs.
									a.moreButton See what they'll be sharing
							section.speakerGridBottomRow
								section.speakerTile(speakerExpanded='JordanSantell')
									div.headshot(name='JordanSantell')
									h1 Jordan Santell
									a.speakercontact(href='http://www.twitter.com/jsantell', target='_blank') @jsantell
									p.brief JavaScript developer @WebLinc and author of Poet blog module.
									a.moreButton See what they'll be sharing
								section.speakerTile(speakerExpanded='ChrisAlfano')
									div.headshot(name='ChrisAlfano')
									h1 Chris Alfano
									a.speakercontact(href='http://www.twitter.com/themightychris', target='_blank') @themightychris
									p.brief Mad scientist at @wearejarvus and cofounder at @devnuts.
									a.moreButton See what they'll be sharing
								div.clear
						
						section.speakerExpanded(id='MarkHeadd')
							article.speakerinfo
								div.headshot(name='MarkHeadd')
								h1 Mark Headd &nbsp;&nbsp;|&nbsp;&nbsp;
									a.speakercontact(href='http://www.twitter.com/mheadd', target='_blank') @mheadd
									| &nbsp;&nbsp;|&nbsp;&nbsp;
									a.speakercontact(href='#', target='_blank') awebsiteforthem.com
								p.brief Chief Data Officer for Philadelphia and @codeforamerica alum.
								a.lessButton Close this
						section.speakerExpanded(id='PamSelle')
							article.speakerinfo
								a.lessButton Close this
						section.speakerExpanded(id='BryanPaluch')
							article.speakerinfo
								a.lessButton Close this
						section.speakerExpanded(id='JordanSantell')
							article.speakerinfo
								a.lessButton Close this
						section.speakerExpanded(id='ChrisAlfano')
							article.speakerinfo
								a.lessButton Close this
							div.clear
					article.four
						article.sponsor
							div.chathamfinancial
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br><br>
							a(href="http://www.twitter.com/ChathamFin", target="_blank") @ChathamFin<br>
							a(href="http://www.chathamfinancial.com", target="_blank") Chathamfinancial.com
						article.sponsor
							div.monetate
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br><br>
							a(href="http://www.twitter.com/Monetate", target="_blank") @Monetate
							a(href="http://www.monetate.com", target="_blank") Monetate.com
						article.sponsor
							div.andyet
							p Lorem psum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br><br>
							a(href="http://www.twitter.com/AndYet", target="_blank") @&yet
							a(href="http://www.andyet.com", target="_blank") Andyet.com
						article.sponsor
							div.comcastlabs
							p Lorem psum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br><br>
							a(href="http://www.twitter.com/Comcast", target="_blank") @Comcast
							a(href="http://comcast.com", target="_blank") Comcast.com
						div.clear
					article.five
						| <div class="eventbrite" >
						| <iframe src="http://www.eventbrite.com/tickets-external?eid=4822936533&ref=etckt&v=2" frameborder="0" height="214" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
						| <div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" >
						| </div></div>
						section.directions
							div.yardslogo
							p 901 North Delaware Avenue, Philadelphia, PA <br>
								a(href="http://goo.gl/maps/oC6tD", target="_blank") View in Google Maps &rarr;

			section.pager
				a(rel="0").pagenum Welcome
				a(rel="1").pagenum Details
				a(rel="2").pagenum Speakers
				a(rel="3").pagenum Sponsors
				a(rel="4").pagenum Attend
		section.cloudyforeground
		section.foreground
		header.hackandhops
			div.hackandhops-logo
		section.cloudymidground
		section.cloudybackground
		section.background
		section.randomclouds
			div.floater
			div.floater
			div.floater
			div.floater
			div.floater
			div.floater
			div.floater
		footer.hackandhops
			div.skyline
			div.content
