form.contact
	section.contactinnerstuff
		input(placeholder='Your name', type='text', name='username')
		input(placeholder='Your email', type='email', name='useremail')
		label General Inquiry
			input(type='checkbox', name='generalinq')
			div.clear
		label I'd like to host an event
			input(type='checkbox', name='generalinq')
			div.clear
		label I'd like to speak at an event
			input(type='checkbox', name='generalinq')
			div.clear
	textarea(placeholder='Your message (500 character max)', type='text', name='usermessage', maxlength='500', required='required').contactinnerstuff
	input(type='submit', value='').contactinnerstuff
	a.cancelbtn.contactinnerstuff

header.global
	nav.nav1
		a(data-tip='Coming Soon') Events
		a(data-tip='Coming Soon') Partners
	nav.logo
	nav.nav2
		a(data-tip='Coming Soon') Gallery
		a.contactbtn Connect
section.feature
	section.viewport
		section.overview
			article.one
				section.callout Through our monthly meetups, annual events and partnerships with industry experts, we’re helping spread the node.js love in the City of Brotherly Love and surrounding regions. Browse around and see how node.js is helping developers build stronger and more efficient applications.
			article.two
				section.callout Love talking Node? Have a project to share? Want to show-off your app? Got a great idea and want support? Register to speak at an upcoming Node.Philly event <a href="/speak">here</a> or use the "Register to Speak" link below.
			article.three
				section.callout Want to get your shop more involved with the Node community? Want to show off your new digs? Register to host an upcoming Node.Philly event <a href="/host">here</a> or use the "Host an Event" link below.
			article.four
				section.callout Section 4
			article.five
				section.callout Section 5
	footer
		section.col1
		section.pager
			a(rel="0").pagenum
			a(rel="1").pagenum
			a(rel="2").pagenum
			a(rel="3").pagenum
			a(rel="4").pagenum
		section.col3
section.timsdoodads
	section.tweets
		h1		
	section.calendar
		section.calendar1
			header
				a.prevmo
				h1 The Month
				a.nextmo
			section.the-calendar
				ul.headers
					li Sun
					li Mon
					li Tue
					li Wed
					li Thu
					li Fri
					li Sat
				ul.week
					li(name="adate", rel="")
					li(name="adate", rel="")
					li(name="adate", rel="")
					li(name="adate", rel="")
					li(name="adate", rel="")
					li(name="adate", rel="")
					li(name="adate", rel="")
				ul.week
					li(name="adate", rel="")
					li(name="adate", rel="")
					li(name="adate", rel="")
					li(name="adate", rel="")
					li(name="adate", rel="")
					li(name="adate", rel="")
					li(name="adate", rel="")
				ul.week
					li(name="adate", rel="")
					li(name="adate", rel="")
					li(name="adate", rel="")
					li(name="adate", rel="")
					li(name="adate", rel="")
					li(name="adate", rel="")
					li(name="adate", rel="")
				ul.week
					li(name="adate", rel="")
					li(name="adate", rel="")
					li(name="adate", rel="")
					li(name="adate", rel="")
					li(name="adate", rel="")
					li(name="adate", rel="")
					li(name="adate", rel="")
				ul.week
					li(name="adate", rel="")
					li(name="adate", rel="")
					li(name="adate", rel="")
					li(name="adate", rel="")
					li(name="adate", rel="")
					li(name="adate", rel="")
					li(name="adate", rel="")

		section.calendar2
			section.the-feature
			footer
				a(href="#", data-tip="Add Node Philly to your calendar").addtocalendar
				a(href="#", data-tip="Speak at an event").speakicon
				a(href="#", data-tip="Host an event").hostevent
		footer
			section.inset
				a(href="http://www.nodejs.org", target="_blank", data-tip="Flux-capacitation gigawattage by Node.js").nodejs-logo
	section.geeks
		h1
		section.the-micro <a href="#" class="username">@Username</a>Lorem ipsum dolor sit amet, adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim adabore et doleiusmod… <a href="#">View on Geeklist &rarr;</a>
		section.the-micro <a href="#" class="username">@Username</a>Lorem ipsum dolor sit amet, adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim adabore et doleiusmod… <a href="#">View on Geeklist &rarr;</a>
		section.the-micro <a href="#" class="username">@Username</a>Lorem ipsum dolor sit amet, adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim adabore et doleiusmod… <a href="#">View on Geeklist &rarr;</a>
footer.global
	section.col1
		section.inset
			section.established
				div.est-icon
			section.stars
	section.socicons
		a(href="https://twitter.com/nodephilly", target="_blank", data-tip="Follow @NodePhilly's Tweets").icon-twitter
		a(data-tip="@nodephilly's pics are Instariffic").icon-instagram
		a(href="http://geekli.st/NodePhilly", target="_blank", data-tip="Geek out with us on Geeklist").icon-geeklist
		a(href="https://github.com/NodePhilly", target="_blank", data-tip="Git at us and see what we're building").icon-github
	section.col2
		section.inset
			section.stars
			section.year
				div.year-ico