header.global
	nav.nav1
		a Events
		a Partners
	nav.logo
	nav.nav2
		a Gallery
		a Connect
section.feature
	section.viewport
		section.overview
			article.one
				section.callout Through our monthly meetups, annual events and partnerships with industry experts, we’re helping spread the node.js love in the City of Brotherly Love and surrounding regions. Browse around and see how node.js is helping developers build stronger and more efficient applications.
			article.two
				section.callout Section 2
			article.three
				section.callout Section 3
			article.four
				section.callout Section 4
			article.five
				section.callout Section 5
	footer
		section.col1
		section.pager
			a(rel="0").pagenum
			a(rel="1").pagenum
			a(rel="2").pagenum
			a(rel="3").pagenum
			a(rel="4").pagenum
		section.col3
section.timsdoodads
	section.tweets
		h1
		section.the-tweet <a href="#" class="username">@Username</a>Lorem ipsum dolor sit amet, <a href="#">@NodePhilly</a> adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mini
		section.the-tweet <a href="#" class="username">@Username</a>Lorem ipsum dolor sit amet, <a href="#">@NodePhilly</a> adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mini
		section.the-tweet <a href="#" class="username">@Username</a>Lorem ipsum dolor sit amet, <a href="#">@NodePhilly</a> adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mini
	section.calendar
		section.calendar1
			header
				a.prevmo
				h1 The Month
				a.nextmo
			section.the-calendar
				ul.headers
					li Sun
					li Mon
					li Tue
					li Wed
					li Thu
					li Fri
					li Sat
				ul.week
					li(name="adate", rel="1")
					li(name="adate", rel="2")
					li(name="adate", rel="3")
					li(name="adate", rel="4")
					li(name="adate", rel="5")
					li(name="adate", rel="6")
					li(name="adate", rel="7")
				ul.week
					li(name="adate", rel="8")
					li(name="adate", rel="9")
					li(name="adate", rel="10")
					li(name="adate", rel="11")
					li(name="adate", rel="12")
					li(name="adate", rel="13")
					li(name="adate", rel="14")
				ul.week
					li(name="adate", rel="15")
					li(name="adate", rel="16")
					li(name="adate", rel="17")
					li(name="adate", rel="18")
					li(name="adate", rel="19")
					li(name="adate", rel="20")
					li(name="adate", rel="21")
				ul.week
					li(name="adate", rel="22")
					li(name="adate", rel="23")
					li(name="adate", rel="24")
					li(name="adate", rel="25")
					li(name="adate", rel="26")
					li(name="adate", rel="27")
					li(name="adate", rel="28")
				ul.week
					li(name="adate", rel="29")
					li(name="adate", rel="30")
					li(name="adate", rel="31")
					li(name="adate", rel="")
					li(name="adate", rel="")
					li(name="adate", rel="")
					li(name="adate", rel="")

		section.calendar2
			section.the-feature
			footer
		footer
			section.inset
				a(href="http://www.nodejs.org", target="_blank", data-tip="Flux-capacitation gigawattage by Node.js").nodejs-logo
	section.geeks
		h1
		section.the-micro <a href="#" class="username">@Username</a>Lorem ipsum dolor sit amet, adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim adabore et doleiusmod… <a href="#">View on Geeklist &rarr;</a>
		section.the-micro <a href="#" class="username">@Username</a>Lorem ipsum dolor sit amet, adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim adabore et doleiusmod… <a href="#">View on Geeklist &rarr;</a>
		section.the-micro <a href="#" class="username">@Username</a>Lorem ipsum dolor sit amet, adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim adabore et doleiusmod… <a href="#">View on Geeklist &rarr;</a>
footer.global
	section.col1
		section.inset
			section.established
				div.est-icon
			section.stars
	section.socicons
		a(href="https://twitter.com/nodephilly", target="_blank", data-tip="Follow @NodePhilly's Tweets").icon-twitter
		a(data-tip="@NodePhilly's pics are Instariffic").icon-instagram
		a(href="http://geekli.st/NodePhilly", target="_blank", data-tip="Geek out with us on Geeklist").icon-geeklist
		a(href="https://github.com/NodePhilly", target="_blank", data-tip="Git at us and see what we're building").icon-github
	section.col2
		section.inset
			section.stars
			section.year
				div.year-icon