!!!
html
  head
    title Node Philly | Spreading the Node.js love in the City of Brotherly Love
    meta(name="description", content="Node Philly's goal is to help spread knowledge and enthusiasm for Node.js in the Philadelphia area through annual meetups and events.")
    meta(name="robots", content="index, follow")
    meta(name="geo.placename", content="Philadelphia, Pennsylvania")
    link(rel="icon", href="/imgs/favicon.ico", type="image/x-icon")
    link(rel="shortcut icon", href="http://www.example.com/favicon.ico", type="image/x-icon")
    meta(name="author", content="@bwhitham, @timsavery")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/js/jquery1.7.2.js')
    script(type='text/javascript', src='/js/tinycarousel.js')
    script(type='text/javascript', src='/js/date.js')
    script(type='text/javascript', src='/js/readyfunctions.js')
    // if lt IE8
      meta(http-equiv="refresh", content="0;url=http://browsehappy.com/")

  body!= body