!!!
html
  head
    title Node Philly | Spreading the Node.js love in the City of Brotherly Love
    meta(name="description", content="Node Philly's goal is to help spread knowledge and enthusiasm for Node.js in the Philadelphia area through annual meetups and events.")
    meta(name="robots", content="index, follow")
    meta(name="geo.placename", content="Philadelphia, Pennsylvania")
    link(rel="icon", href="/imgs/favicon.ico", type="image/x-icon")
    meta(name="author", content="@bwhitham, @timsavery, @wil_wang")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/js/jquery1.7.2.js')
    script(type='text/javascript', src='/js/tinycarousel.js')
    script(type='text/javascript', src='/js/date.js')
    script(type='text/javascript', src='/js/readyfunctions.js')
    script(type='text/javascript', src='https://js.stripe.com/v1/')
    // if lt IE8 
      meta(http-equiv="refresh", content="0;url=http://browsehappy.com/")

    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29643918-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  body
    form.contact
      section.contactinnerstuff
        input#username(placeholder='Your name', type='text', name='username', required='required')
        input#useremail(placeholder='Your email', type='email', name='useremail', required='required')
        label General Inquiry
          input(type='checkbox', name='generalinq')
          div.clear
        label I'd like to host an event
          input(type='checkbox', name='hostevent')
          div.clear
        label I'd like to speak at an event
          input(type='checkbox', name='speaker')
          div.clear
      textarea#usermessage(placeholder='Your message (500 character max)', type='text', name='usermessage', maxlength='500', required='required').contactinnerstuff
      input(type='submit', value='').contactinnerstuff
      a.cancelbtn.contactinnerstuff
    header.global
      nav.nav1
        a(href='/events') Events
        a(href='/partners') Partners
      a(href='/')
        nav.logo
      nav.nav2
        a(data-tip='Coming Soon') Gallery
        a.contactbtn Connect

    != body

    footer.global
      section.col1
        section.inset
          section.established
            div.est-icon
          section.stars
      section.socicons
        a(href="https://twitter.com/nodephilly", target="_blank", data-tip="Follow @NodePhilly's Tweets").icon-twitter
        a(data-tip="@nodephilly's pics are Instariffic").icon-instagram
        a(href="http://geekli.st/NodePhilly", target="_blank", data-tip="Geek out with us on Geeklist").icon-geeklist
        a(href="https://github.com/NodePhilly", target="_blank", data-tip="Git at us and see what we're building").icon-github
      section.col2
        section.inset
          section.stars
          section.year
            div.year-icon