section.global
	aside.global
			li(partner='chatham')
				img(src='/imgs/node-philly-partner-chathamfinancial.png', alt='Chatham Financial')
			li(partner='nodejitsu')
				img(src='/imgs/node-philly-partner-nodejitsu.png', alt='Nodejitsu')
			li(partner='voltdb')
				img(src='/imgs/node-philly-partner-voltdb.png', alt='VoltDB')
			li(partner='geeklist')
				img(src='/imgs/node-philly-partner-geeklist.png', alt='Geeklist')
	article.global
		section(partner='chatham')
			aside.intro
				p Chatham Financial is <br>Node Philly's founding partner and primary contributor to all of our fantastic events.
				a(href="http://www.chathamfinancial.com", target='_blank') chathamfinancial.com &rarr;
			section.content 
				h2 Chatham Financial
				p Chatham Financial feeds on complexity, creating simple solutions for our clients using sophisticated technology. We help companies with foreign currency, interest rate and commodity risk understand their risk profile and offer alternatives for how to manage it. We are great at listening to clients, doing hard math and writing powerful analysis tools that can be used both within Chatham and by external users.
				p Our technology team was once considered a commodity within a consultant led company. But in the last ten years, we have organically grown into an integral part of the business; nearly doubling in size in the last two years. We have assembled a phenomenal team of freethinkers, beer drinkers, Nerf blasters and lambasters who are always thirsting for another adventure. We are highly engaged with the technology community and we strive to stay abreast of the latest happenings in the technology world that are relevant to us and our clients. We love learning and when we come across new technologies that offer competitive advantage to Chatham Financial or our clients, we are proactive in adopting and implementing them.
		div.clear
		section.hidden(partner='nodejitsu')
			aside.intro
				p Nodjitsu is <br>our primary collaborator. They helped us bootstrap and launch our first conference in 2012 and continue to be a trusted partner and advocate of our community.
				a(href="http://nodejitsu.com", target='_blank') nodejitsu.com &rarr;
			section.content 
				h2 Nodejitsu
				p Nodejitsu is headquartered in the borough of Manhattan in New York City. We are geographically dispersed with employees in four continents, seven countries, and eight timezones. As open-source advocates we believe in the power of open-source software and open standards. We're dedicated to the academic and professional growth of technology communities both local and worldwide.
		div.clear
		section.hidden(partner='geeklist')
			aside.intro
				p Geeklist is <br>one of the original sponsors of Node.Philly. They believe in our mission and we love what Geeklist provides for the Node.js community.
				a(href="http://geekli.st", target='_blank') geekli.st &rarr;
			section.content 
				h2 Geeklist
				p Geeklist is where developers come to discover, connect and themselves and the great work they have done. We connect developers to each other and companies they love, making their lives better, helping them build relationships that are relevant to them and their careers as well as providing a platform for companies to build relationships with developers to show them what they are building and hire developers interested.
				p <a href='http://geekli.st/NodePhilly/invite/D3E8BB6A3E'>Sign Up Now</a> and start your Geek-ography!
		div.clear		
		section.hidden(partner='voltdb')
			aside.intro
				p VoltDB is <br>one of the original sponsors of first Node.Philly. They have built an incredibly fast database. When coupled with Node.js you can achieve unbelievable performance.  
				a(href="http://voltdb.com", target='_blank') voltdb.com &rarr;
			section.content 
				h2 VoltDB
				p VoltDB was created to address the ever-increasing need of innovative companies to make faster decisions and gain real-time insights into high velocity data. Big Data applications abound, but they all share the same characteristic of being fed by increasing amounts of high velocity data. VoltDB, a NewSQL database, is an in-memory, relational SQL database that enables fast decision making and real-time analytics for a new breed of disruptive applications that are seeking to unlock the business impact and value that real-time data delivers.
		div.clear
	div.clear
script(src='/js/partners.js')