!!!
html
	head
		title Node Philly at Philly Tech Week 2013
		meta(name="description", content="Join Node Philly at Philly Tech Week 2013.")
		meta(name="robots", content="index, follow")
		meta(name="geo.placename", content="Philadelphia, Pennsylvania")
		meta(name="geo.location", content="39.96268, -75.13593")
		link(rel="icon", href="/imgs/favicon.ico", type="image/x-icon")
		meta(name="author", content="@bwhitham, @timsavery")
		link(rel='stylesheet', href='/stylesheets/ptw2013.css')

		script(type='text/javascript', src='/js/jquery1.7.2.js')
		script(type='text/javascript', src='/js/modernizr.js')
	
		- var analytics = '<script type="text/javascript">var _gaq=_gaq||[];_gaq.push(["_setAccount","UA-34514579-1"]);_gaq.push(["_trackPageview"]);(function(){var a=document.createElement("script");a.type="text/javascript";a.async=true;a.src=("https:"==document.location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js";var b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b)})()</script>' 
		| !{analytics}

	body
		section.category
			article.full Node Philly Logo
			article.full Node Philly event abstract
			article.col Ninjablocks logo
			article.col Time / workshop info
			div.clear
		section.category
			article.col Evening presentations info
			article.col Evening presentations info
			div.clear
		section.category
			article.full Thanks to all our speakers
			article.col Speaker 1
			article.col Speaker 2
			article.col Speaker 3
			article.col Speaker 4
			article.col Speaker 5
			div.clear
		section.category
			article.col Buy some tickets
			article.col Ticket purchase form
			div.clear
		section.category
			article.col Map and location data
			article.col Contact form > I want to speak, I want to sponsor
			div.clear