!!!
html
	head
		title Node Philly at Philly Tech Week 2013
		meta(name="description", content="Join Node Philly at Philly Tech Week 2013.")
		meta(name="robots", content="index, follow")
		meta(name="geo.placename", content="Philadelphia, Pennsylvania")
		meta(name="geo.location", content="39.96268, -75.13593")
		link(rel="icon", href="/imgs/favicon.ico", type="image/x-icon")
		meta(name="author", content="@bwhitham, @timsavery")
		link(rel='stylesheet', href='/stylesheets/ptw2013.css')
		link(href='http://fonts.googleapis.com/css?family=Bubblegum+Sans', rel='stylesheet', type='text/css')

		script(type='text/javascript', src='/js/jquery1.7.2.js')
		script(type='text/javascript', src='/js/modernizr.js')
	
		- var analytics = '<script type="text/javascript">var _gaq=_gaq||[];_gaq.push(["_setAccount","UA-34514579-1"]);_gaq.push(["_trackPageview"]);(function(){var a=document.createElement("script");a.type="text/javascript";a.async=true;a.src=("https:"==document.location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js";var b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b)})()</script>' 
		| !{analytics}

	body
		section.category(name='intro')
			article(name='intro')
				div.logo
				h1 
					|  We've got something<br/>
					|  totally awesome planned<br/>
					|  for you!
		section.category(name='details')
			hr.rippin
			article(name='details')
				header
					h1 
						| Geek out with us on April 23rd <br>
						| at Philly Tech Week 2013!
					a.ptwlogo(href="http://www.phillytechweek.com/", target="_blank")
					div.clear
				article
					a.ninjablocks(href="http://www.ninjablocks.com/", target="_blank")
					h2 Ninja Blocks Workshop
					time 8:30am – 2:00pm
					| <br>
					p
						| Hack the day away with us and <a href="http://www.twitter.com/danfriedman" target="_blank">Dan Friedman</a>, CTO of <a href="http://www.ninjablocks.com" target="_blank">Ninjablocks</a>. We will kick the morning off with breakfast and an introduction to the Ninja Blocks platform.

					p
						| After the introduction, we will break off into small groups with hardware and Ninja Blocks that follow several tracks including home automation and robotics. The rest of the day will be yours to learn and hack with coaches <a href="http://www.twitter.com/Letthisbemywrit" target="_blank">Bryan Paluch</a>, <a href="http://www.twitter.com/jsantell" target="_blank">Jordan Santell</a>, and organizers <a href="http://www.twitter.com/timsavery" target="_blank">Tim Savery</a> and <a href="http://www.twitter.com/bwhitham" target="_blank">Brett Whitham</a>. Lunch and other refreshments will be included throughout the day. 

					p
						| There will also be a raffle of Ninja Blocks hardware for a select few attendees. Attendance is limited to 40 attendees so be sure to <a href="http://nodephilly.ticketleap.com/ptw2013/">get your tickets soon!</a>
					div.clear
				article 
					h2 Ninja Blocks demos and pre-conference happy hour
					time 2:00pm – 4:00pm
					| <br>
					p Workshop attendees will be given the opportunity to get together and show off what they built during the day. Conference attendees may also arrive to see what we've been hacking on all day with Ninja Blocks along with enjoying a few libations with friends. 
					div.clear
				article
					h2 Node Philly 201731
					time 4:00pm – 8:00pm
					| <br>
					p 
						| Join us at our second annual Philly Tech Week Node.js conference in the Quorum at 
						| <a href="http://www.sciencecenter.org" target="_blank">University City Science Center.</a> Just one year ago we hosted over 150 people at Philly's first Node.js conference. This year we'll be outdoing ourselves with another great lineup covering such topics as building APIs, web applications, and real-time commmunications.
					section.speakers
						a(href='http://www.twitter.com/mheadd', target="_blank") 
							img.headshot(name='markheadd')
							h3 Mark Headd
							h4 Chief Data Officer
							p Mark is Philly's first Chief Data Officer and a civic hacking pioneer. 
						a(href='http://twitter.com/PhiladelphiaGov', target="_blank") 
							img.headshot(name='cityofphilly')
							h3 City of Philadelphia
							h4 OFC of New Urban Mechanics
							p All about startups and the tech scene in Philly.
						a(href='http://www.twitter.com/SaraJChipps', target="_blank") 
							img.headshot(name='sarachipps')
							h3 Sara Chipps
							h4 CTO Levo League, <br>co-founder Girl DevelopIT
							p Talking about Johnny-five, a way to build robots with Node.js.
						a(href='http://www.twitter.com/danfriedman', target="_blank") 
							img.headshot(name='danfriedman')
							h3 Dan Friedman
							h4 CTO Ninja Blocks
							p Technomage excited to share the great possibilities with Node.js.
						a(href='http://www.twitter.com/spikebrehm', target="_blank") 
							img.headshot(name='spikebrehm')
							h3 Spike Brehm
							h4 Engineer AirBnb
							p Showcasing Rendr, Airbnb's new library for rendering Backbone apps.
						a(href='http://www.twitter.com/dshaw', target="_blank") 
							img.headshot(name='danshaw')
							h3 Dan Shaw
							h4 Engineer Voxer
							p Node.js engineer, startup advisor, and co-founder of The Node Firm.
						a(href='http://www.twitter.com/admc', target="_blank") 
							img.headshot(name='adamchristian')
							h3 Adam Christian
							h4 VP Engineering at Saucelabs
							p Showing off Appium, an open source test tool for iOS applications.
						a(href='http://www.twitter.com/substack', target="_blank") 
							img.headshot(name='substack')
							h3 James Halladay
							h4 Mad Scientist
							p Node.js mad man and founder of Browserling.
						div.clear
				div.clear

		section.category(name='evening')
			hr.rippin
			article(name='evening')
				h1
					| Rock out with Leadnomics!
					| <br>
					time Party starts at 8:30pm
				a.leadonomicslogo(href='http://www.leadnomics.com', target='_blank')
				p 
					| Help us wrap up an amazing day with an even more amazing night with <a href="http://www.leadnomics.com" target="_blank">Leadnomics.</a><br>
					| Enjoy light snacks and two free drinks at <a href="http://www.citytaphouse.com" target="_blank">City Tap House.</a> Party ends whenever the sun comes up!
		section.category(name='close')
			hr.rippin
			article(name='close')
				section.map
					iframe(width="425", height="350", frameborder="0", scrolling="no", marginheight="0", marginwidth="0", src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=3711+Market+Street,+Philadelphia,+PA&amp;aq=1&amp;oq=3711+market&amp;sll=37.6,-95.665&amp;sspn=45.201731,92.548828&amp;ie=UTF8&amp;hq=&amp;hnear=3711+Market+St,+Philadelphia,+Pennsylvania+19104&amp;t=m&amp;z=14&amp;ll=39.956628,-75.19684&amp;output=embed")
					a(href="http://www.sciencecenter.org/", target="_blank") University City Science Center
					p 
						| 3711 Market St
						| Philadelphia, PA 19104
				section.tix 
					a.buytix(href="https://nodephilly.ticketleap.com/ptw2013", target="_blank")
						p Get your tickets!
				div.clear
			article(name='sponsors')
				p Thanks to all of our sponsors who have helped make Node Philly 2013 possible!
				a(name='chathamfinancial', href='http://www.chathamfinancial.com', target='_blank')
				a(name='ninjablocks', href='http://www.ninjablocks.com', target='_blank')
				a(name='leadnomics', href='http://www.leadnomics.com', target='_blank')
				a(name='comcast', href='http://www.comcast.com', target='_blank')
				a(name='saucelabs', href='http://www.saucelabs.com', target='_blank')
				a(name='geeklist', href='http://www.geekli.st', target='_blank')
				a(name='apiphany', href='http://www.apiphany.com', target='_blank')
				a(name='voxer', href='http://www.voxer.com', target='_blank')
				a(name='ucsc', href='http://www.sciencecenter.org', target='_blank')





