/* Colors file for Node Philly */

bg-white = rgb(254, 231, 153)
bg-yellow = rgb(252, 193, 67)
bg-orange = rgb(238, 158, 0)

brown = rgb(129, 76, 3)
darkred = rgb(150, 53, 0)
black = rgb(53, 29, 9)
blue = rgb(17, 128, 165)

hnhbubbles = rgb(234, 177, 50)