/*CSS for Node Philly's Hack and Hops 2013*/

@import "colors.styl"

hackandhops-sprite = url('/imgs/hackandhops2013.png')


/* =========================================== globals */
*
	margin 0
	padding 0


::-webkit-selection 
	background-color hnhbubbles
	color bg-white
	text-shadow none
::-moz-selection 
	background-color hnhbubbles
	color bg-white
	text-shadow none
::selection 
	background-color hnhbubbles
	color bg-white
	text-shadow none

hr
	background-image hackandhops-sprite
	background-position 0 -204px
	height 28px
	width 100%
	display block
	outline none
	border none
	margin 15px 0

border-radius(args)
	-webkit-border-radius args
	-moz-border-radius args
	-o-border-radius args
	border-radius args

/* =========================================== structure */

html
	width 100%
	height 100%

	background-image -webkit-radial-gradient(top center, bg-white, bg-yellow)
	
	background-image -moz-radial-gradient(top center, bg-white, bg-yellow)
	
	background-image -ms-radial-gradient(top center, bg-white, bg-yellow)

	background-attachment fixed

body
	min-width 100%
	min-height 100%

header
	min-width 100%
	height 50px;
	z-index 99
	position relative

.content
	width 560px
	min-height 100%
	background-color transparent
	margin 0 auto
	position relative
	padding 20px
	z-index 100
.foam
	background-image url("../imgs/hackandhops2013head.png")
	background-repeat repeat-x
	min-width 100%
	height 50px
	position relative
/* =========================================== typography */

html
	font-family 'Ubuntu', Helvetica, sans-serif
	font-size 100%
	-webkit-text-size-adjust 100%
	-ms-text-size-adjust 100%
	-webkit-font-smoothing antialiased
	-moz-font-smoothing antialiased
	-o-font-smoothing antialiased
	font-smoothing antialiased
	text-rendering optimizeLegibility
	text-align center

h1
	font-weight 300
	font-size 48px
	color brown
	margin 0 0 15px 0

h2
	font-weight 400
	font-size 26px
	color brown
	margin 0 0 15px 0

p
	font-weight 300
	font-size 20px
	color black

p a
	color blue
	text-decoration none


/* =========================================== head */

.logo
	background-image hackandhops-sprite
	background-position 0 0
	width 300px
	height 204px
	margin 0 auto 25px auto


.bubble
	position absolute
	background-color transparent
	height 10px
	width 10px
	border-radius 50%
	border 1px solid hnhbubbles
.ZeBubbleHolder
	height 50px
	width 50px
	position absolute
.whitespace
	background-color white