/* Node Philly Stylus mixins */

animation(arguments)
	-webkit-animation arguments
	-moz-animation arguments
	-o-animation arguments
	animation arguments

border-radius(arguments)
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments