/* CSS for Node Phillys Philly Tech Week 2013 event*/
/* Version: 1.0*/
/* Authored: @bwhitham */

//styl variables

box-shadow()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	-o-box-shadow arguments
	box-shadow arguments

transition()
	-webkit-transition arguments
	-moz-transition arguments
	-o-transition arguments
	transition arguments

transform()
	-webkit-transform arguments
	-moz-transform arguments
	-o-transform arguments
	transform arguments

box-sizing()
	-webkit-box-sizing arguments
	-moz-box-sizing arguments
	-o-box-sizing arguments
	box-sizing arguments

text-shadow()
	-webkit-text-shadow arguments
	-moz-text-shadow arguments
	-o-text-shadow arguments
	text-shadow arguments

background-clip()
	-webkit-background-clip arguments
	-moz-background-clip arguments
	-o-background-clip arguments
	background-clip arguments

customfont()
	font-family "Bubblegum Sans", sans-serif
	font-weight 400
	font-size arguments

lightwhite = 	rgba(255, 255, 255, 0.5)
white20 = 		rgba(255, 255, 255, 0.2)
black = 		rgba(0, 0, 0, 1.0)
gray = 			rgba(0, 0, 0, 0.5)
blue =			rgba(109, 189, 250, 1.0)
blue20 =		rgba(109, 189, 250, 0.2)
bluemed =		rgba(76, 133, 177, 1.0)
bluedark =		rgba(5, 23, 31, 1.0)
orange = 		rgba(245, 174, 73, 1.0)
purple =		rgba(168, 50, 192, 1.0)
purple40 =		rgba(168, 50, 192, 0.4)

// images

sprite()
	background-image url('/imgs/ptw2013/nodeph-ptw2013-sprite.png')
	background-repeat no-repeat
	background-position arguments

skylinenight()
	background-image url('/imgs/ptw2013/nodephilly-skyline-night.png')
	background-repeat no-repeat
	background-position arguments

rippindivider()
	background-image url('/imgs/ptw2013/nodeph-ptw2013-sprite.png')
	background-repeat repeat-x
	background-position arguments

bluebg()
	background-image url('/imgs/ptw2013/nodeph-ptw2013-bluebg.jpg')
	background-repeat repeat

purplebg()
	background-image url('/imgs/ptw2013/nodeph-ptw2013-purplebg.jpg')
	background-repeat repeat

starbg()
	background-image url('/imgs/ptw2013/nodeph-ptw2013-starbg.png')
	background-repeat repeat

/*__________________________________________________________ universals*/

*
	margin 0
	padding 0 
	outline none
	border none

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section
	display block

.clear
	clear both

::-webkit-selection
	background-color orange
	color white
	text-shadow none

::-moz-selection
	background-color orange
	color white
	text-shadow none

::selection
	background-color orange
	color white
	text-shadow none

input, button
	-webkit-appearance none
	line-height normal

input:focus
	outline 0

img
	border none
	-ms-interpolation-mode bicubic
	vertical-align middle

nav
	&ul, &ol
		list-style none
		margin 0
		padding 0

a,
a:hover,
a:visited
	cursor pointer
	text-decoration none

a:visited
	color inherit


/*__________________________________________________________ typography*/

html
	font-family "Helvetica Neue", Helvetica, sans-serif
	font-size 100%
	-webkit-text-size-adjust 100%
	-ms-text-size-adjust 100%
	-webkit-font-smoothing		antialiased
	-moz-font-smoothing			antialiased
	-o-font-smoothing			antialiased
	font-smoothing				antialiased	
	text-rendering				optimizeLegibility

p a
	font-weight 600
	text-shadow 0 1px 0 black
	color orange

	&:visited
		color orange

/*__________________________________________________________ structure*/

html
	width 100%
	height 100%

body
	min-width inherit
	min-height inherit
	box-sizing border-box
	background-color black
	padding 0 0 150px 0

div.logo
	width 200px 
	height 125px
	sprite 0 -429px
	position absolute
	z-index 101
	top 45px
	left 150px
	transform rotate(-8deg)

section.category
	width 100%
	min-height 300px

	&[name='intro']
		bluebg()

		h1
			customfont 50px
			line-height 50px
			display block
			color white
			transform rotate(10deg)
			position absolute
			right 50px
			top 70px
			text-shadow 0 2px bluemed
			text-align center

	&[name='details']
		purplebg()

	&[name='evening']
		starbg()
		background-color bluedark

	&[name='close']
		background-color black

	hr.rippin
		rippindivider(0 -379px)
		width 100%
		height 50px
		z-index 100
		margin -25px 0 0 0
		position absolute

	article
		box-sizing border-box
		width 1000px
		margin 0 auto
		position relative

		&[name='intro']
			height 600px
			border-right 1px solid lightwhite
			border-left  1px solid lightwhite
			sprite 0 225px
			padding 25px 0 0 0

		&[name='details']

			header,
			article
				width 100%
				padding 50px 0 60px 0
				border-bottom 1px solid orange

				h1, 
				h2, 
				time
					customfont 35px
					width 50%
					text-shadow 0 2px bluedark
					color white
					text-align center
					display block
					float left
	
				a.ptwlogo
					width 448px
					height 75px
					display block
					sprite -200px -429px
					float right
					margin 0 50px 0 0

				a.ninjablocks
					background-image url('/imgs/ptw2013/ninjablock.png')
					background-repeat no-repeat
					width 400px
					height 225px
					display block
					float left
					border 5px solid orange
					transform rotate(-1deg)
					margin 100px 25px 100px 0

				h2, 
				time
					font-size 30px
					display inline-block
					text-align left
					width auto
				h2
					margin 0 15px 0 0
				time
					color blue
					display inline
				p
					font-size 18px
					color white
					display block
					line-height 30px
					margin 25px 0 0 0

				section.speakers
					margin 15px 0
					
					a
						box-sizing border-box
						width 25%
						min-height 320px
						float left
						padding 15px 15px 5px 15px
						transition background-color 0.3s linear
						text-align center


						img.headshot
							width 150px
							height 150px
							border 3px solid orange
							margin 0 auto
							display block

							&[name='markheadd']
								transform rotate(1deg)
								sprite 0 -840px
							&[name='cityofphilly']
								transform rotate(-1deg)
								sprite -150px -840px
							&[name='sarachipps']
								transform rotate(-1deg)
								sprite -300px -840px
							&[name='danfriedman']
								transform rotate(1deg)
								sprite -450px -840px
							&[name='spikebrehm']
								transform rotate(1deg)
								sprite -600px -840px
							&[name='danshaw']
								transform rotate(-1deg)
								sprite -750px -840px
							&[name='substack']
								transform rotate(1deg)
								sprite 0 -990px
							&[name='saucelabs']
								transform rotate(-1deg)
								sprite -300px -990px
							&[name='bryanpaluch']
								transform rotate(1deg)
								sprite -150px -990px	

						h3
							color white
							margin 10px 0 0 0

						h4
							color orange
							text-transform italic

						p
							margin 5px 0 0 0
							line-height 22px

						&:nth-child(4)
							border-right 0

						&:hover
							background-color purple40

			article
				padding 20px 0

				&:nth-last-child(1)
					border-bottom none


		&[name='evening']
			min-height 620px
			border-right 1px solid blue
			border-left  1px solid blue
			skylinenight 0 275px
			padding 0

			h1
				customfont 50px
				line-height 50px
				display block
				color blue
				transform rotate(-3deg)
				position absolute
				left 50px
				top 60px
				text-shadow 0 4px black
			
				time
					font-size 30px
					color orange
					top 70px
					width auto
					text-align center
					margin 0 0 0 150px

			a.leadonomicslogo
				width 280px
				height 46px
				sprite 0 -560px
				display block
				position absolute
				top 100px
				right 70px
				transform rotate(2deg)

			p
				font-size 20px
				display block
				position absolute
				top 200px
				left 0
				width 100%
				text-align center
				color white
		
		&[name='close']
			min-height 300px
			padding 0

		section.map,
		section.tix
			width 50%
			float left
			box-sizing border-box
			padding 35px 20px
			color white

			a.buytix
				customfont 60px
				display block
				width 100%
				height 200px
				background-color blue
				margin 70px 0 0 0
				text-align center
				padding 20px
				box-sizing border-box
				transform rotate(3deg)
				transition background-color 0.3s linear
				color white

				p
					display block
					border-top 1px solid white
					border-bottom 1px solid white
					padding 15px 0
					margin 25px 0 0 0

				&:hover
					background-color orange
				&:visited
					color inherit

		section.map
			a, p
				display block
			a
				font-size 20px
				margin 10px 0
				color blue
			p
				font-size 20px
				line-height 20px

	article[name='sponsors']
		color white
		height 200px
		border-top 1px solid bluemed
		margin-top 15px
		padding 15px 0 0 0 
		text-align center

		p
			margin 0 0 25px 0
		a
			box-sizing border-box
			width 25%
			height 100px
			display block
			float left
			transition background-color 0.3s linear
			margin 0 0 25px 0

			&[name='chathamfinancial']
				sprite 0 -640px

			&[name='ninjablocks']
				sprite -250px -640px

			&[name='leadnomics']
				sprite -500px -640px

			&[name='comcast']
				sprite -750px -640px

			&[name='voxer']
				sprite 0 -740px

			&[name='saucelabs']
				sprite -250px -740px

			&[name='ucsc']
				sprite -500px -740px

			&:hover
				background-color white20