/* CSS for Node Philly's Philly Tech Week 2013 event*/
/*Version: 1.0*/
/*Authored: @bwhitham*/

//styl variables

box-shadow()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	-o-box-shadow arguments
	box-shadow arguments

transition()
	-webkit-transition arguments
	-moz-transition arguments
	-o-transition arguments
	transition arguments

transform()
	-webkit-transform arguments
	-moz-transform arguments
	-o-transform arguments
	transform arguments

box-sizing()
	-webkit-box-sizing arguments
	-moz-box-sizing arguments
	-o-box-sizing arguments
	box-sizing arguments

lightwhite = 	rgba(255, 255, 255, 0.5)
black = 		rgba(0, 0, 0, 1.0)
gray = 			rgba(0, 0, 0, 0.5)
blue =			rgba(109, 189, 250, 1.0)
blue20 =			rgba(109, 189, 250, 0.2)
bluemed =		rgba(76, 133, 177, 1.0)
bluedark =		rgba(5, 23, 31, 1.0)
orange = 		rgba(245, 174, 73, 1.0)

// images

sprite()
	background-image url('/imgs/ptw2013/nodeph-ptw2013-sprite.png')
	background-repeat no-repeat
	background-position arguments

rippindivider()
	background-image url('/imgs/ptw2013/nodeph-ptw2013-sprite.png')
	background-repeat repeat-x
	background-position arguments

sprite2x()
	background-image url('/imgs/ptw2013/nodeph-ptw2013-sprite@2x.png')
	background-repeat no-repeat
	background-position arguments

bluebg()
	background-image url('/imgs/ptw2013/nodeph-ptw2013-bluebg.jpg')
	background-repeat repeat

purplebg()
	background-image url('/imgs/ptw2013/nodeph-ptw2013-purplebg.jpg')
	background-repeat repeat

starbg()
	background-image url('/imgs/ptw2013/nodeph-ptw2013-starbg.png')
	background-repeat repeat

bubblegumfont()
	font-family "Bubblegum Sans", sans-serif
	font-weight 400
	font-size arguments

/*__________________________________________________________ universals*/

*
	margin 0
	padding 0 
	outline none
	border none

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section
	display block

.clear
	clear both

::-webkit-selection
	background-color black
	color white
	text-shadow none

::-moz-selection
	background-color black
	color white
	text-shadow none

::selection
	background-color black
	color white
	text-shadow none

input, button
	-webkit-appearance none
	line-height normal

input:focus
	outline 0

img
	border none
	-ms-interpolation-mode bicubic
	vertical-align middle

nav
	&ul, &ol
		list-style none
		margin 0
		padding 0

a
	cursor pointer

/*__________________________________________________________ typography*/

html
	font-family "Helvetica Neue", Helvetica, sans-serif
	font-size 100%
	-webkit-text-size-adjust 100%
	-ms-text-size-adjust 100%
	-webkit-font-smoothing		antialiased
	-moz-font-smoothing			antialiased
	-o-font-smoothing			antialiased
	font-smoothing				antialiased	
	text-rendering				optimizeLegibility


/*__________________________________________________________ structure*/

html
	width 100%
	height 100%

body
	min-width inherit
	min-height inherit
	box-sizing border-box
	background-color black

div.logo
	width 200px 
	height 125px
	sprite 0 -807px
	position absolute
	z-index 101
	top 45px
	left 150px
	transform rotate(-15deg)

section.category
	width 100%
	min-height 300px

	&[name='intro']
		bluebg()

		h1
			bubblegumfont 40px
			line-height 35px
			display block
			color white
			transform rotate(10deg)
			position absolute
			right 100px
			top 120px

	&[name='details']
		purplebg()

	&[name='evening']
		starbg()
		background-color bluedark

	&[name='close']
		background-color black

	hr.rippin
		rippindivider(0 -757px)
		width 100%
		height 50px
		z-index 100
		margin -25px 0 0 0
		position absolute

	article
		box-sizing border-box
		width 1000px
		min-height inherit
		margin 0 auto
		position relative

		&[name='intro']
			height 600px
			border-right 1px solid bluemed
			border-left  1px solid bluemed
			sprite 0 225px
			padding 25px 0 0 0

		&[name='details']
			height 800px

		&[name='evening']
			height 800px
			border-right 1px solid blue
			border-left  1px solid blue
			sprite 0 40px
			background-clip content-box
			padding-top 420px

		section.map,
		section.tix
			width 50%
			float left
			box-sizing border-box
			padding 35px 20px
			color white

			a.buytix
				bubblegumfont 60px
				display block
				width 100%
				height 200px
				background-color blue
				margin 25px 0 0 0
				text-align center
				padding 20px
				box-sizing border-box
				transform rotate(3deg)
				transition background-color 0.3s linear

				p
					display block
					border-top 1px solid white
					border-bottom 1px solid white
					padding 15px 0
					margin 25px 0 0 0

				&:hover
					background-color orange

	article[name='sponsors']
		color white
		height 200px
		border-top 1px solid bluemed
		margin-top 15px
		padding 15px 0 0 0 


/*__________________________________________________________ media*/

@media all and (max-width: 400px) and (min-width: 320px)
	html
		section.category
			article
				width inherit
				float none
				border 1px solid lightwhite
		
				&:nth-child(2)
					float none








