/*CSS for Node Philly*/
/*Version: 1.0*/
/*Authored: @bwhitham, @timsavery*/
/*__________________________________________________________ universals*/
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  list-style: none;
}
.clear {
  clear: both;
}
::-moz-selection {
  background-color: #82c0c0;
  color: #fff;
  text-shadow: none;
}
::selection {
  background-color: #82c0c0;
  color: #fff;
  text-shadow: none;
}
.hidden {
  display: none;
}
/*__________________________________________________________ typography*/
html {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #7f8891;
}
p {
  font-size: 15px;
}
h1,
h2,
h3,
h4 {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
h2 {
  font-size: 25px;
  font-weight: 600;
  margin: 0 0 10px 0;
}
a {
  color: #82c0c0;
  text-decoration: underline;
}
section.the-tweet,
section.the-micro {
  font-size: 13px;
}
section.the-calendar ul.headers li {
  font-size: 12px;
}
section.the-calendar ul.week li[name="adate"] {
  font-size: 17px;
  color: rgba(127,136,145,0.5);
  text-align: center;
  line-height: 40px;
}
form.contact label {
  text-size: 10px;
  color: #fff;
}
hr {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #82c0c0;
  margin: 10px 0 10px 0;
}
/*__________________________________________________________ structure*/
html {
  width: 100%;
  height: 100%;
  background-image: url("/imgs/node-philly-sitebg.png");
  background-repeat: repeat;
}
body {
  width: 1240px;
  border-left: 2px #82c0c0 solid;
  border-right: 2px #82c0c0 solid;
  border-bottom: 2px #82c0c0 solid;
  margin: 0 auto 0 auto;
  padding: 0 0 15px 0;
}
header.global,
section.feature,
section.timsdoodads,
footer.global {
  width: 100%;
  position: relative;
}
header.global {
  height: 115px;
}
section.feature {
  height: 285px;
  border-bottom: 2px #82c0c0 solid;
}
section.timsdoodads {
  height: 400px;
}
footer.global {
  height: 54px;
}
section.global {
  width: 100%;
  height: 100%;
  padding: 15px 0 0 0;
}
aside.global {
  width: 300px;
  height: 100%;
}
/*__________________________________________________________ site head*/
nav.nav1,
nav.logo,
nav.nav2 {
  display: inline-block;
}
nav.nav1,
nav.nav2 {
  height: 50px;
  background-image: url("/imgs/node-philly-sprite01.png");
  background-position: 0 -15px;
  background-repeat: repeat-x;
  vertical-align: top;
  margin: 34px 0 0 0;
}
nav.nav1 {
  width: 295px;
  padding: 0 0 0 220px;
}
nav.nav2 {
  width: 500px;
  padding: 0 0 0 15px;
}
nav.logo {
  width: 180px;
  height: 105px;
  margin: 5px 15px 0 15px;
  background-image: url("/imgs/node-philly-sprite01.png");
  background-position: -319px -65px;
  background-repeat: no-repeat;
}
nav.nav1 a,
nav.nav2 a {
  height: 34px;
  padding: 16px 25px 0 25px;
  margin: 0 15px 0 0;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  text-decoration: none;
  color: #caeeee;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  background-image: url("/imgs/node-philly-sprite01.png");
  background-repeat: no-repeat;
  position: relative;
}
nav.nav1 a:hover,
nav.nav2 a:hover,
nav.nav1 a.selected,
nav.nav2 a.selected {
  color: #fff;
}
nav.nav1 a:nth-child(1) {
  background-position: -193px -230px;
}
nav.nav1 a:nth-child(1):hover,
nav.nav1 a:nth-child(1):hover.selected {
  background-position: -193px -265px;
}
nav.nav1 a:nth-child(2) {
  background-position: -184px -245px;
}
nav.nav1 a:nth-child(2):hover,
nav.nav1 a:nth-child(2):hover.selected {
  background-position: -184px -265px;
}
nav.nav2 a:nth-child(1),
nav.nav2 a:nth-child(2) {
  background-position: -190px -245px;
}
nav.nav2 a:nth-child(1):hover,
nav.nav2 a:nth-child(2):hover,
nav.nav2 a:nth-child(1).selected,
nav.nav2 a:nth-child(2).selected {
  background-position: -190px -265px;
}
/*__________________________________________________________ featured content*/
section.viewport,
section.overview,
article.one,
article.two,
article.three,
article.four,
article.five {
  width: 1240px;
  height: 266px;
}
section.viewport {
  overflow: hidden;
  position: relative;
}
section.overview {
  position: absolute;
  top: 0;
  left: 0;
}
section.feature footer {
  width: inherit;
  height: 19px;
  border-top: 2px #82c0c0 solid;
}
section.feature footer section.col1,
section.feature footer section.col3 {
  width: 530px;
  background-image: url("/imgs/node-philly-sprite01.png");
  background-position: 0 -2px;
  background-repeat: repeat-x;
}
section.feature footer section.pager {
  width: 125px;
  padding: 1px 0 0 55px;
}
section.feature footer section.col1,
section.feature footer section.col3 {
  height: 9px;
  border-top: 1px #82c0c0 solid;
  border-bottom: 1px #82c0c0 solid;
  margin: 3px 0 0 0;
}
section.feature footer section.col1,
section.feature footer section.col3,
section.feature footer section.pager {
  display: inline-block;
  vertical-align: top;
}
a.pagenum {
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: top;
  background-image: url("/imgs/node-philly-sprite01.png");
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 0 10px 0 0;
}
a.pagenum {
  background-position: -217px -107px;
}
a.active,
a.pagenum:hover {
  background-position: -202px -107px;
}
/*__________________________________________________________ featured carousel*/
article.one,
article.two,
article.three,
article.four,
article.five {
  float: left;
}
section.overview .callout {
  width: 40%;
  height: 140px;
  margin: 60px auto 0 auto;
  position: relative;
  padding: 0 50px 0 50px;
  text-align: center;
  line-height: 25px;
}
section.overview .callout:before,
section.overview .callout:after {
  display: block;
  font-size: 100px;
  font-weight: 100;
  position: absolute;
  top: 35px;
}
section.overview .callout:before {
  content: "{";
  left: 0;
}
section.overview .callout:after {
  content: "}";
  right: 0;
}
section.speak,
section.host,
section.ptw2013 {
  background-image: url("/imgs/201208-feature-speak.png");
  background-position: middle;
  background-repeat: no-repeat;
  display: block;
  width: inherit;
  height: inherit;
}
section.speak p,
section.host p {
  padding: 200px 100px 0 100px;
  text-align: center;
}
section.host {
  background-image: url("/imgs/201208-feature-host.png");
}
section.host p {
  padding: 165px 0 0 0;
  display: block;
  width: 375px;
  margin: 0 0 0 100px;
}
section.ptw2013 {
  background-image: url("/imgs/ptw2013/nodeph-feature-ptw2013.png");
  position: relative;
}
section.ptw2013 a {
  position: absolute;
  right: 230px;
  bottom: 50px;
  font-weight: 600;
}
/*__________________________________________________________ widgets*/
section.tweets,
section.geeks {
  width: 304px;
}
section.calendar {
  width: 618px;
}
section.tweets,
section.geeks,
section.calendar {
  display: inline-block;
  height: 403px;
  vertical-align: top;
}
section.tweets {
  margin: 0 3px 0 0;
  border-right: 1px #82c0c0 solid;
}
section.geeks {
  margin: 0 0 0 3px;
  border-left: 1px #82c0c0 solid;
}
/*________________________________________________________________calendar*/
section.calendar {
  border-left: 2px #82c0c0 solid;
  border-right: 2px #82c0c0 solid;
}
section.calendar1,
section.calendar2 {
  width: 307px;
  height: 307px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
section.calendar2 {
  width: 311px;
}
section.calendar footer {
  width: inherit;
  height: 60px;
  border-top: 2px #82c0c0 solid;
  border-bottom: 2px #82c0c0 solid;
}
section.calendar footer section.inset {
  width: inherit;
  height: 42px;
  margin: 3px 0 0 0;
  border-top: 1px #82c0c0 solid;
  border-bottom: 1px #82c0c0 solid;
  padding: 10px 0 0 0;
}
section.calendar1 {
  width: 305px;
  border-right: 2px #82c0c0 solid;
}
section.calendar1 header {
  width: inherit;
  height: 45px;
  border-bottom: 1px #82c0c0 solid;
  margin: 0 0 3px 0;
}
section.calendar1 header a.nextmo,
section.calendar1 header a.prevmo,
section.calendar1 header h1 {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin: 8px 0;
}
section.calendar1 header h1 {
  width: 225px;
  padding: 5px 0;
  font-weight: 500;
}
section.calendar1 header a.nextmo,
section.calendar1 header a.prevmo,
a.addtocalendar,
a.speakicon,
a.hostevent {
  width: 31px;
  height: 30px;
  background-image: url("/imgs/node-philly-sprite01.png");
  background-repeat: no-repeat;
  cursor: pointer;
}
a.addtocalendar {
  background-position: -100px -125px;
  float: left;
  display: block;
  position: relative;
  margin: 6px 0 0 95px;
}
a.addtocalendar:hover {
  background-position: -131px -125px;
}
a.addtocalendar:active {
  background-position: -162px -125px;
}
a.speakicon {
  background-position: -100px -185px;
  float: left;
  display: block;
  position: relative;
  margin: 6px 10px 0 115px;
}
a.speakicon:hover {
  background-position: -131px -185px;
}
a.speakicon:active {
  background-position: -162px -185px;
}
a.hostevent {
  background-position: -193px -185px;
  float: left;
  display: block;
  position: relative;
  margin: 6px 0 0 0;
}
a.hostevent:hover {
  background-position: -224px -185px;
}
a.hostevent:active {
  background-position: -255px -185px;
}
section.calendar1 header a.nextmo {
  background-position: -100px -65px;
}
section.calendar1 header a.nextmo:hover {
  background-position: -131px -65px;
}
section.calendar1 header a.nextmo:active {
  background-position: -162px -65px;
}
section.calendar1 header a.prevmo {
  background-position: -100px -95px;
  margin: 8px 0 0 10px;
}
section.calendar1 header a.prevmo:hover {
  background-position: -131px -95px;
}
section.calendar1 header a.prevmo:active {
  background-position: -162px -95px;
}
section.the-calendar {
  width: inherit;
  height: 256px;
  border-top: 2px #82c0c0 solid;
}
section.the-calendar ul.headers li {
  width: 43px;
  text-align: center;
  height: 15px;
  padding: 3px 0;
  display: inline-block;
  vertical-align: top;
  border-bottom: 1px #82c0c0 solid;
}
section.the-calendar ul.headers li:nth-last-child(1) {
  width: 46px;
}
section.the-calendar ul.headers li:hover {
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
section.the-calendar ul.week {
  width: inherit;
  height: 15.3%;
}
section.the-calendar ul.week:nth-last-child(1) {
  border-bottom: none;
}
section.the-calendar ul.week li {
  height: 100%;
  width: 43px;
  background-color: transparent;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}
section.the-calendar ul.week li:hover {
  background-color: rgba(127,136,145,0.1);
  -webkit-box-shadow: inset 0 0 5px rgba(127,136,145,0.5);
  -moz-box-shadow: inset 0 0 5px rgba(127,136,145,0.5);
  -o-box-shadow: inset 0 0 5px rgba(127,136,145,0.5);
  box-shadow: inset 0 0 5px rgba(127,136,145,0.5);
  -webkit-box-shadow: inset 0 0 5px rgba(127,136,145,0.5);
  -moz-box-shadow: inset 0 0 5px rgba(127,136,145,0.5);
}
section.the-calendar ul.week li:nth-last-child(1) {
  border-right: none;
  width: 41px;
}
section.the-calendar ul.week li[name="adate"]:before {
  content: attr(rel);
}
section.the-calendar ul.week li.eventalert {
  color: #fff;
  background-color: rgba(127,136,145,0.5);
  cursor: pointer;
}
section.the-calendar ul.week li.eventalert:hover {
  -webkit-box-shadow: inset 0 0 5px #7f8891;
  -moz-box-shadow: inset 0 0 5px #7f8891;
  -o-box-shadow: inset 0 0 5px #7f8891;
  box-shadow: inset 0 0 5px #7f8891;
  -webkit-box-shadow: inset 0 0 5px #7f8891;
  -moz-box-shadow: inset 0 0 5px #7f8891;
}
/*calendar 2*/
section.calendar2 section.the-feature {
  width: inherit;
  height: 256px;
  border-bottom: 2px #82c0c0 solid;
}
section.calendar2 section.the-feature p {
  padding: 5px 10px;
}
section.calendar2 section.the-feature p.title {
  font-weight: bold;
  font-size: 18px;
}
section.calendar2 section.the-feature p.date {
  font-weight: bold;
  font-size: 14px;
}
section.calendar2 footer {
  width: inherit;
  height: 45px;
  border-top: 1px #82c0c0 solid;
  margin: 3px 0;
}
/*_________________________________________________tweets and geeks sidebar */
section.tweets h1,
section.geeks h1 {
  width: 250px;
  height: 71px;
  background-image: url("/imgs/node-philly-sprite01.png");
  background-repeat: no-repeat;
  margin: 15px 0 0 25px;
}
section.tweets h1 {
  background-position: 0 -423px;
}
section.geeks h1 {
  background-position: 0 -494px;
}
section.the-tweet,
section.the-micro {
  width: auto;
  height: 100px;
  padding: 8px 15px 0 25px;
  overflow: hidden;
  text-overflow: ellipsis;
}
section.the-tweet:nth-child(3),
section.the-micro:nth-child(3) {
  border-top: 1px #82c0c0 solid;
  border-bottom: 1px #82c0c0 solid;
}
section.the-tweet img,
section.the-micro img {
  width: 42px;
  height: 42px;
  float: left;
  margin-right: 5px;
}
section.the-tweet a.username,
section.the-micro a.username {
  float: left;
  margin: 0 0 0 0;
}
section.the-tweet span.text,
section.the-micro span.bio {
  padding-left: 5px;
}
/*__________________________________________________________ basic page layout*/
aside.global,
article.global,
aside.intro,
section.content {
  float: left;
  line-height: 25px;
}
aside.global li {
  width: 260px;
  margin: 0 auto 0 auto;
  padding: 10px;
  border-bottom: 1px #82c0c0 solid;
  border-right: 1px #82c0c0 solid;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}
aside.global li img {
  width: inherit;
  height: auto;
  padding: 10px 0 10px 0;
}
aside.global li:hover,
aside.global li.selected {
  color: #82c0c0;
}
article.global {
  width: 900px;
  margin: 0 0 0 0;
  padding: 0 0 0 15px;
}
article.global p,
article.global a {
  margin: 0 0 15px 0;
}
article.global aside.intro {
  width: 22%;
  margin: 0 20px 0 0;
}
article.global aside.intro a {
  display: block;
  text-decoration: none;
}
article.global section.content {
  width: 73%;
}
article.global section[partner] {
  min-height: 400px;
}
/*__________________________________________________________ featured content*/
/*__________________________________________________________ site footer*/
footer.global section.col1,
footer.global section.col2,
footer.global section.socicons {
  display: inline-block;
  height: 50px;
}
footer.global section.col1,
footer.global section.col2 {
  width: 495px;
  border-top: 2px #82c0c0 solid;
  border-bottom: 2px #82c0c0 solid;
}
footer.global section.socicons {
  width: 230px;
  margin: 0 10px 0 10px;
  border: none;
}
footer.global section.inset {
  width: inherit;
  height: 42px;
  margin: 3px 0;
  border-top: 1px #82c0c0 solid;
  border-bottom: 1px #82c0c0 solid;
  display: inline-block;
}
footer.global section.stars {
  height: 9px;
  width: 315px;
  background-image: url("/imgs/node-philly-sprite01.png");
  background-position: 0 -2px;
  background-repeat: repeat-x;
  margin: 15px 0;
}
section.established,
section.year {
  width: 50px;
  height: inherit;
  border-left: 1px #82c0c0 solid;
  border-right: 1px #82c0c0 solid;
}
section.established {
  margin: 0 5px 0 120px;
}
div.year-icon,
div.est-icon {
  width: 35px;
  height: 15px;
  background-image: url("/imgs/node-philly-sprite01.png");
  background-repeat: no-repeat;
  margin: 15px 0 0 8px;
}
div.year-icon {
  background-position: -202px -90px;
}
div.est-icon {
  background-position: -202px -69px;
}
footer.global section.stars,
section.established,
section.year {
  display: inline-block;
}
/*__________________________________________________________ footer icons */
a.icon-twitter,
a.icon-geeklist,
a.icon-instagram,
a.icon-github {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-image: url("/imgs/node-philly-sprite01.png");
  background-repeat: no-repeat;
  cursor: pointer;
  margin-top: 3px;
  position: relative;
}
a.icon-twitter,
a.icon-geeklist,
a.icon-instagram {
  margin: 0 5px 0;
}
a.icon-twitter {
  background-position: 0 -65px;
}
a.icon-twitter:hover {
  background-position: -50px -65px;
}
a.icon-instagram {
  background-position: 0 -115px;
}
a.icon-instagram:hover {
  background-position: -50px -115px;
}
a.icon-geeklist {
  background-position: 0 -165px;
}
a.icon-geeklist:hover {
  background-position: -50px -165px;
}
a.icon-github {
  background-position: 0 -215px;
}
a.icon-github:hover {
  background-position: -50px -215px;
}
/*__________________________________________________________ logos*/
a.nodejs-logo,
a.nodejs-logo:hover {
  width: 110px;
  height: 30px;
  background-image: url("/imgs/node-philly-sponsors.png");
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto 0 auto;
  cursor: pointer;
  position: relative;
}
a.nodejs-logo {
  background-position: -44px -64px;
}
a.nodejs-logo:hover {
  background-position: -244px -64px;
}
/*__________________________________________________________ pop ups */
a[data-tip]::before {
  content: attr(data-tip);
  font-size: 13px;
  position: absolute;
  left: 50%;
  margin: 0 0 0 -50px;
  bottom: 9999px;
  background-color: #82c0c0;
  color: #fff;
  padding: 15px 20px 15px 20px;
  white-space: nowrap;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-box-shadow: 0 0 15px rgba(127,136,145,0.5);
  -moz-box-shadow: 0 0 15px rgba(127,136,145,0.5);
  -o-box-shadow: 0 0 15px rgba(127,136,145,0.5);
  box-shadow: 0 0 15px rgba(127,136,145,0.5);
  -webkit-box-shadow: 0 0 15px rgba(127,136,145,0.5);
  -moz-box-shadow: 0 0 15px rgba(127,136,145,0.5);
  border: 1px rgba(255,255,255,0.9) solid;
  z-index: 2;
}
a[data-tip]:hover::before {
  opacity: 1;
  bottom: 60px;
}
a.nodejs-logo[data-tip]:hover::before {
  bottom: 40px;
  left: -15px;
}
a.addtocalendar[data-tip]:hover::before {
  bottom: 40px;
  left: -25px;
}
a.speakicon[data-tip]:hover::before,
a.hostevent[data-tip]:hover::before {
  bottom: 40px;
  left: 0;
}
nav.nav1 a[data-tip]:hover::before,
nav.nav2 a[data-tip]:hover::before {
  bottom: 10px;
  left: 60px;
}
/*__________________________________________________________ forms */
form.contact {
  width: 100%;
  height: 200px;
  background-color: #82c0c0;
  background-image: url("/imgs/node-philly-formbg.png");
  background-repeat: repeat-x;
  background-position: bottom left;
  display: none;
}
form.contact section {
  float: left;
  margin: 15px 0 0 275px;
}
form.contact input,
form.contact textarea {
  width: 240px;
  height: 25px;
  border: rgba(127,136,145,0.5) 1px solid;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 0 5px 0 5px;
  margin: 0 0 10px 0;
  display: block;
}
form.contact textarea {
  width: 325px;
  height: 150px;
  padding: 5px;
  float: left;
  margin: 15px 0 0 15px;
  resize: none;
}
form.contact label {
  display: block;
  margin: 0 0 5px 0;
}
form.contact label input[type='checkbox'] {
  float: left;
  width: auto;
  margin: -5px 5px 0 0;
}
form.contact input[type='submit'],
form.contact a.cancelbtn {
  width: 20px;
  height: 20px;
  display: block;
  background-image: url("/imgs/node-philly-sprite01.png");
  background-repeat: no-repeat;
  background-position: -200px -140px;
  margin: 150px 0 0 -25px;
  background-color: transparent;
  border: none;
  float: left;
  cursor: pointer;
}
form.contact a.cancelbtn {
  background-position: -220px -140px;
  float: right;
  margin: 5px 5px 0 0;
}
.contactinnerstuff {
  opacity: 0;
}
/*__________________________________________________________ sponsorship form */
section.sponsorship {
  width: 40%;
  margin: 25px auto 25px auto;
}
section.sponsorship p {
  line-height: 23px;
}
.payment-errors {
  color: #f00;
}
form#sponsorship button {
  height: 25px;
  border: rgba(127,136,145,0.5) 1px solid;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 0 5px 0 5px;
  margin: 0 0 10px 0;
}
input[type='number'] {
  width: 100%;
  height: 25px;
  font-size: 18px;
  color: #7f8891;
  border: 1px solid #82c0c0;
  padding: 0 5px;
  margin: 25px auto;
}
input[type='number']:focus {
  -webkit-box-shadow: 0 0 15px rgba(130,192,192,0.5);
  -moz-box-shadow: 0 0 15px rgba(130,192,192,0.5);
  -o-box-shadow: 0 0 15px rgba(130,192,192,0.5);
  box-shadow: 0 0 15px rgba(130,192,192,0.5);
}
/*__________________________________________________________ hackandhops 2012 */
section.viewport section.overview article.one section.hackandhops div.hackandhops {
  background-image: url("/imgs/nodephilly-hackandhops.png");
  background-repeat: no-repeat;
  width: 350px;
  height: 240px;
  margin: 0 auto 0 auto;
  position: relative;
}
section.viewport section.overview article.one section.hackandhops a {
  font-size: 17px;
  display: block;
  width: 300px;
  margin: -10px auto 0 auto;
}
body.hackandhops {
  width: inherit;
  height: inherit;
  position: relative;
  border: none;
  margin: 0 auto;
  padding: 0 0 0 0;
  overflow: hidden;
  font-size: 15px;
}
body.hackandhops section.feature {
  width: 100%;
  height: 450px;
  z-index: 101;
  position: absolute;
  left: 0;
  right: 0;
  top: 25%;
  border-bottom: none;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
body.hackandhops section.feature section.viewport {
  position: relative;
  overflow: hidden;
  width: 1000px;
  height: 100%;
  margin: 0 auto;
}
body.hackandhops section.feature section.viewport section.overview {
  height: inherit;
}
body.hackandhops section.feature section.viewport section.overview article {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
}
body.hackandhops section.feature section.viewport section.overview article.one {
  font-size: 35px;
  line-height: 50px;
  font-weight: 300;
  color: #82c0c0;
  text-align: center;
  padding: 150px 0 0 0;
}
body.hackandhops section.feature section.viewport section.overview article.two {
  text-align: left;
}
body.hackandhops section.feature section.viewport section.overview article.two p {
  display: block;
  text-align: left;
  line-height: 28px;
  margin: 10px 0 -15px 0;
}
body.hackandhops section.feature section.viewport section.overview article.two h1 {
  font-size: 25px;
  color: #82c0c0;
  text-transform: none;
}
body.hackandhops section.feature section.viewport section.overview article.two h2 {
  font-size: 20px;
  color: #82c0c0;
  font-weight: 500;
  margin: 0;
  text-transform: none;
}
body.hackandhops section.feature section.viewport section.overview article.two article {
  float: left;
}
body.hackandhops section.feature section.viewport section.overview article.two article.letscelebrate {
  width: 40%;
  padding: 0 15px 0 0;
}
body.hackandhops section.feature section.viewport section.overview article.two article.details {
  width: 56%;
  padding: 0 0 0 15px;
  margin: 0 0 0 0;
}
body.hackandhops section.feature section.viewport section.overview article.two article.details p {
  margin: 10px 0 15px 0;
}
body.hackandhops section.feature section.viewport section.overview article.three .speakersGrid {
  width: 999px;
  position: absolute;
  height: 400px;
  z-index: 102;
}
body.hackandhops section.feature section.viewport section.overview article.three .speakerTopRow {
  width: 999px;
  height: 195px;
}
body.hackandhops section.feature section.viewport section.overview article.three .speakerGridBottomRow {
  width: 666px;
  height: 195px;
  margin: 0 auto;
}
body.hackandhops section.feature section.viewport section.overview article.three .speakerGridBottomRow .speakerTile {
  width: 310px;
  margin: 20px 20px 10px 0;
}
body.hackandhops section.feature section.viewport section.overview article.three .speakerTile {
  width: 310px;
  float: left;
  height: 180px;
  border: 1px solid #82c0c0;
  margin: 0 20px 0 0;
  position: relative;
}
body.hackandhops section.feature section.viewport section.overview article.three .speakerTile p a,
body.hackandhops section.feature section.viewport section.overview article.three .speakerTile p p {
  display: inline;
}
body.hackandhops section.feature section.viewport section.overview article.three .speakerBriefText {
  height: 100%;
  width: 100%;
  display: inline-block;
  opacity: 1;
}
body.hackandhops section.feature section.viewport section.overview article.three .speakerExpanded {
  position: absolute;
  z-index: 1;
  height: 400px;
  width: 1000px;
  opacity: 0;
  -webkit-transition: opacity 0.7s 0s;
  -moz-transition: opacity 0.7s 0s;
  -o-transition: opacity 0.7s 0s;
  transition: opacity 0.7s 0s;
}
body.hackandhops section.feature section.viewport section.overview article.three .speakerExpanded article.speakerinfo {
  width: 700px;
  height: 400px;
  border: 1px solid #82c0c0;
  position: relative;
  opacity: inherit;
}
body.hackandhops section.feature section.viewport section.overview article.three .speakerExpanded article.speakerinfo h1 {
  font-size: 20px;
  margin: 15px 0 15px 0;
}
body.hackandhops section.feature section.viewport section.overview article.three .speakerExpanded article.speakerinfo h1[name="BryanPaluch"] {
  font-size: 18px;
}
body.hackandhops section.feature section.viewport section.overview article.three .speakerExpanded article.speakerinfo a.speakercontact {
  display: inline;
}
body.hackandhops section.feature section.viewport section.overview article.three .speakerExpanded article.speakerinfo header {
  width: 95%;
  min-height: 115px;
  margin: 15px auto 5px auto;
  padding: 0 0 15px 0;
  border-bottom: 1px solid #82c0c0;
}
body.hackandhops section.feature section.viewport section.overview article.three .speakerExpanded article.speakerinfo div.headshot {
  margin: 0 15px 10px 0;
}
body.hackandhops section.feature section.viewport section.overview article.three .speakerExpanded article.speakerinfo section.content {
  padding: 0 15px 0 15px;
  display: block;
}
body.hackandhops section.feature section.viewport section.overview article.three a.moreButton,
body.hackandhops section.feature section.viewport section.overview article.three a.lessButton {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #82c0c0;
  color: #fff;
  text-decoration: none;
  padding: 5px 0 5px 0;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-transition: box-shadow 0.5s linear;
  -moz-transition: box-shadow 0.5s linear;
  -o-transition: box-shadow 0.5s linear;
  transition: box-shadow 0.5s linear;
}
body.hackandhops section.feature section.viewport section.overview article.three a.moreButton:hover,
body.hackandhops section.feature section.viewport section.overview article.three a.lessButton:hover {
  -webkit-box-shadow: inset 0 0 10px #3c5a5a;
  -moz-box-shadow: inset 0 0 10px #3c5a5a;
  -o-box-shadow: inset 0 0 10px #3c5a5a;
  box-shadow: inset 0 0 10px #3c5a5a;
}
body.hackandhops section.feature section.viewport section.overview article.three div.headshot {
  background-image: url("/imgs/nodephilly-hackandhops.png");
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  display: block;
  float: left;
  margin: 15px 15px 0 15px;
}
body.hackandhops section.feature section.viewport section.overview article.three div.headshot[name="MarkHeadd"] {
  background-position: -600px 0;
}
body.hackandhops section.feature section.viewport section.overview article.three div.headshot[name="PamSelle"] {
  background-position: -600px -120px;
}
body.hackandhops section.feature section.viewport section.overview article.three div.headshot[name="BryanPaluch"] {
  background-position: -600px -240px;
}
body.hackandhops section.feature section.viewport section.overview article.three div.headshot[name="JordanSantell"] {
  background-position: -720px 0;
}
body.hackandhops section.feature section.viewport section.overview article.three div.headshot[name="ChrisAlfano"] {
  background-position: -720px -120px;
}
body.hackandhops section.feature section.viewport section.overview article.three h1 {
  text-transform: none;
  margin: 15px 0 0 0;
}
body.hackandhops section.feature section.viewport section.overview article.three a.speakercontact {
  margin: 0 0 8px 0;
  display: block;
}
body.hackandhops section.feature section.viewport section.overview article.four article.sponsor {
  width: 22%;
  height: 99%;
  float: left;
  margin: 0 0 0 0;
}
body.hackandhops section.feature section.viewport section.overview article.four article.sponsor:nth-child(2) {
  padding: 0 15px 0 15px;
  margin: 0 15px 0 15px;
}
body.hackandhops section.feature section.viewport section.overview article.four article.sponsor:nth-child(3) {
  padding: 0 15px 0 0;
  margin: 0 15px 0 0;
}
body.hackandhops section.feature section.viewport section.overview article.four article.sponsor div.chathamfinancial,
body.hackandhops section.feature section.viewport section.overview article.four article.sponsor div.monetate,
body.hackandhops section.feature section.viewport section.overview article.four article.sponsor div.andyet,
body.hackandhops section.feature section.viewport section.overview article.four article.sponsor div.comcastlabs {
  width: 160px;
  height: 60px;
  margin: 0 0 0 15px;
  background-image: url("/imgs/nodephilly-hackandhops.png");
  background-repeat: no-repeat;
}
body.hackandhops section.feature section.viewport section.overview article.four article.sponsor a {
  margin: 0 15px 0 0;
}
body.hackandhops section.feature section.viewport section.overview article.four article.sponsor p {
  display: block;
  text-align: left;
  line-height: 24px;
  margin: 15px 0 0 0;
}
body.hackandhops section.feature section.viewport section.overview article.four article.sponsor div.chathamfinancial {
  background-position: -420px -140px;
}
body.hackandhops section.feature section.viewport section.overview article.four article.sponsor div.monetate {
  background-position: -420px -220px;
}
body.hackandhops section.feature section.viewport section.overview article.four article.sponsor div.andyet {
  background-position: -420px -300px;
}
body.hackandhops section.feature section.viewport section.overview article.four article.sponsor div.comcastlabs {
  background-position: -420px -400px;
}
body.hackandhops section.feature section.viewport section.overview article div.eventbrite {
  float: right;
  width: 600px;
  margin: 80px 0 0 0;
}
body.hackandhops section.feature section.viewport section.overview article section.directions {
  width: 350px;
  height: auto;
  margin: 80px 0 0 0;
}
body.hackandhops section.feature section.viewport section.overview article section.directions p {
  display: block;
  text-align: center;
  line-height: 22px;
  margin: 15px 0 0 0;
}
body.hackandhops section.feature section.viewport section.overview article section.directions div.yardslogo {
  background-image: url("/imgs/nodephilly-hackandhops.png");
  background-repeat: no-repeat;
  background-position: -420px 0;
  width: 180px;
  height: 140px;
  margin: 0 auto;
  display: block;
  position: relative;
}
body.hackandhops section.feature section.pager {
  width: 450px;
  position: relative;
  margin: 10px auto 0 auto;
  border-top: 1px solid rgba(130,192,192,0.5);
}
body.hackandhops section.feature section.pager a.pagenum {
  background-image: url("/imgs/nodephilly-hackandhops.png");
  background-repeat: no-repeat;
  background-position: -930px -60px;
  width: 60px;
  font-size: 15px;
  height: 25px;
  cursor: pointer;
  padding: 30px 15px 0 15px;
  margin: 0;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  text-decoration: none;
  text-align: center;
}
body.hackandhops section.feature section.pager a.pagenum:hover,
body.hackandhops section.feature section.pager a.pagenum:active,
body.hackandhops section.feature section.pager a.pagenum.active {
  background-position: -930px 0;
  color: #7f8891;
}
section.cloudybackground,
section.cloudymidground,
section.cloudyforeground {
  width: inherit;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: repeat;
  background-color: transparent;
  background-position: 0 0;
}
header.hackandhops {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
div.hackandhops-logo {
  background-image: url("/imgs/nodephilly-hackandhops.png");
  width: 350px;
  height: 240px;
  margin: 5px auto 0 auto;
  position: relative;
  background-position: 0 0;
  background-repeat: no-repeat;
}
section.foreground,
section.background {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
section.foreground {
  top: 60px;
  background-image: url("/imgs/hnh-snow01.png");
  background-repeat: repeat;
  background-position: 0 0;
  background-color: transparent;
  z-index: 100;
  -webkit-animation: itsfrosty 20s infinite linear;
  -moz-animation: itsfrosty 20s infinite linear;
  -o-animation: itsfrosty 20s infinite linear;
  animation: itsfrosty 20s infinite linear;
}
section.cloudybackground {
  top: -15px;
  height: 150px;
  background-image: url("/imgs/hnh-clouds03.png");
  background-repeat: repeat-x;
  z-index: 1;
}
section.background {
  min-width: 100%;
  min-height: 100%;
  top: 60px;
  background-image: url("/imgs/hnh-snow02.png"), url("/imgs/hnh-snow03.png");
  background-repeat: repeat;
  background-position: 0 100, 25 25;
  background-color: transparent;
  z-index: 1;
  -webkit-animation: itsstillfrosty 40s infinite linear;
  -moz-animation: itsstillfrosty 40s infinite linear;
  -o-animation: itsstillfrosty 40s infinite linear;
  animation: itsstillfrosty 40s infinite linear;
}
div.floater {
  background-image: url("/imgs/nodephilly-hackandhops.png");
  position: absolute;
  width: 210px;
  height: 120px;
  left: -18%;
  background-repeat: no-repeat;
}
div.floater a {
  width: 150px;
  height: 90px;
  margin: 15px auto 0 auto;
  display: block;
  background-image: url("/imgs/nodephilly-hackandhops.png");
  background-repeat: no-repeat;
  cursor: pointer;
}
div.floater:nth-child(1) {
  bottom: 80px;
  background-position: 0 -240px;
  -webkit-animation: floater 80s infinite linear;
  -moz-animation: floater 80s infinite linear;
  -o-animation: floater 80s infinite linear;
  animation: floater 80s infinite linear;
}
div.floater:nth-child(2) {
  bottom: 80px;
  background-position: -210px -240px;
  -webkit-animation: floater 80s infinite linear 15s;
  -moz-animation: floater 80s infinite linear 15s;
  -o-animation: floater 80s infinite linear 15s;
  animation: floater 80s infinite linear 15s;
}
div.floater:nth-child(3) {
  bottom: 100px;
  background-position: 0 -240px;
  -webkit-animation: floater 80s infinite linear 59s;
  -moz-animation: floater 80s infinite linear 59s;
  -o-animation: floater 80s infinite linear 59s;
  animation: floater 80s infinite linear 59s;
}
div.floater:nth-child(4) {
  bottom: 50px;
  background-position: -210px -240px;
  -webkit-animation: floater 80s infinite linear 50s;
  -moz-animation: floater 80s infinite linear 50s;
  -o-animation: floater 80s infinite linear 50s;
  animation: floater 80s infinite linear 50s;
}
div.floater:nth-child(5) {
  bottom: 180px;
  background-position: -210px -240px;
  -webkit-animation: floater 80s infinite linear 35s;
  -moz-animation: floater 80s infinite linear 35s;
  -o-animation: floater 80s infinite linear 35s;
  animation: floater 80s infinite linear 35s;
}
div.floater:nth-child(6) {
  top: 85px;
  background-position: 0 -240px;
  -webkit-animation: floater 80s infinite linear;
  -moz-animation: floater 80s infinite linear;
  -o-animation: floater 80s infinite linear;
  animation: floater 80s infinite linear;
  z-index: 99;
}
div.floater:nth-child(7) {
  top: 120px;
  background-position: -210px -240px;
  -webkit-animation: floater 80s infinite linear 10s;
  -moz-animation: floater 80s infinite linear 10s;
  -o-animation: floater 80s infinite linear 10s;
  animation: floater 80s infinite linear 10s;
  z-index: 105;
}
div.floater:nth-child(8) {
  top: 20px;
  background-position: 0 -240px;
  -webkit-animation: floater 80s infinite linear 20s;
  -moz-animation: floater 80s infinite linear 20s;
  -o-animation: floater 80s infinite linear 20s;
  animation: floater 80s infinite linear 20s;
  z-index: 99;
}
div.floater:nth-child(9) {
  top: 40px;
  background-position: 0 -240px;
  -webkit-animation: floater 80s infinite linear 30s;
  -moz-animation: floater 80s infinite linear 30s;
  -o-animation: floater 80s infinite linear 30s;
  animation: floater 80s infinite linear 30s;
  z-index: 105;
}
div.floater:nth-child(10) {
  top: 140px;
  background-position: -210px -240px;
  -webkit-animation: floater 80s infinite linear 35s;
  -moz-animation: floater 80s infinite linear 35s;
  -o-animation: floater 80s infinite linear 35s;
  animation: floater 80s infinite linear 35s;
  z-index: 99;
}
div.floater:nth-child(11) {
  top: 100px;
  background-position: 0 -240px;
  -webkit-animation: floater 80s infinite linear 45s;
  -moz-animation: floater 80s infinite linear 45s;
  -o-animation: floater 80s infinite linear 45s;
  animation: floater 80s infinite linear 45s;
  z-index: 99;
}
div.floater:nth-child(12) {
  top: 30px;
  background-position: 0 -240px;
  -webkit-animation: floater 80s infinite linear 55s;
  -moz-animation: floater 80s infinite linear 55s;
  -o-animation: floater 80s infinite linear 55s;
  animation: floater 80s infinite linear 55s;
  z-index: 99;
}
div.floater:nth-child(13) {
  top: 60px;
  background-position: -210px -240px;
  -webkit-animation: floater 80s infinite linear 65s;
  -moz-animation: floater 80s infinite linear 65s;
  -o-animation: floater 80s infinite linear 65s;
  animation: floater 80s infinite linear 65s;
  z-index: 105;
}
footer.hackandhops {
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  z-index: 104;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
footer.hackandhops div.skyline {
  width: 1000px;
  height: 140px;
  background-image: url("/imgs/nodephilly-hackandhops.png");
  background-repeat: no-repeat;
  background-position: 0 -487px;
  margin: 0 auto;
}
footer.hackandhops div.content {
  background-color: #82c0c0;
  width: 100%;
  height: 25px;
}
/*__________________________________________________________ media queries */
@media screen and (max-height: 800px) {
  footer.hackandhops {
    bottom: -170px;
  }
  body.hackandhops section.feature {
    top: 20%;
    height: 430px;
  }
  body.hackandhops div.floater:nth-child(1),
  body.hackandhops div.floater:nth-child(2),
  body.hackandhops div.floater:nth-child(3),
  body.hackandhops div.floater:nth-child(4),
  body.hackandhops div.floater:nth-child(5),
  body.hackandhops div.floater:nth-child(6) {
    z-index: 5;
  }
  body.hackandhops header.hackandhops {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
  body.hackandhops div.hackandhops-logo {
    background-image: url("/imgs/nodephilly-hackandhops.png");
    width: 190px;
    height: 125px;
    margin: 5px auto 0 auto;
    position: relative;
    background-position: -810px -360px;
    background-repeat: no-repeat;
  }
@-moz-keyframes floater {
  0% {
      left: -25%;
    }

  100% {
      left: 105%;
    }
}
@-webkit-keyframes floater {
  0% {
      left: -25%;
    }

  100% {
      left: 105%;
    }
}
@-o-keyframes floater {
  0% {
      left: -25%;
    }

  100% {
      left: 105%;
    }
}
@-ms-keyframes floater {
  0% {
      left: -25%;
    }

  100% {
      left: 105%;
    }
}
@keyframes floater {
  0% {
      left: -25%;
    }

  100% {
      left: 105%;
    }
}
}
@-moz-keyframes itsfrosty {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 700px 700px;
  }
}
@-webkit-keyframes itsfrosty {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 700px 700px;
  }
}
@-o-keyframes itsfrosty {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 700px 700px;
  }
}
@-ms-keyframes itsfrosty {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 700px 700px;
  }
}
@keyframes itsfrosty {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 700px 700px;
  }
}
@-moz-keyframes itsstillfrosty {
  0% {
    background-position: 0 0, 0 0;
  }

  100% {
    background-position: 700px 700px, 700px 700px;
  }
}
@-webkit-keyframes itsstillfrosty {
  0% {
    background-position: 0 0, 0 0;
  }

  100% {
    background-position: 700px 700px, 700px 700px;
  }
}
@-o-keyframes itsstillfrosty {
  0% {
    background-position: 0 0, 0 0;
  }

  100% {
    background-position: 700px 700px, 700px 700px;
  }
}
@-ms-keyframes itsstillfrosty {
  0% {
    background-position: 0 0, 0 0;
  }

  100% {
    background-position: 700px 700px, 700px 700px;
  }
}
@keyframes itsstillfrosty {
  0% {
    background-position: 0 0, 0 0;
  }

  100% {
    background-position: 700px 700px, 700px 700px;
  }
}
@-moz-keyframes itscloudy {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 1015px 0;
  }
}
@-webkit-keyframes itscloudy {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 1015px 0;
  }
}
@-o-keyframes itscloudy {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 1015px 0;
  }
}
@-ms-keyframes itscloudy {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 1015px 0;
  }
}
@keyframes itscloudy {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 1015px 0;
  }
}
@-moz-keyframes itsstillcloudy {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 997px 0;
  }
}
@-webkit-keyframes itsstillcloudy {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 997px 0;
  }
}
@-o-keyframes itsstillcloudy {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 997px 0;
  }
}
@-ms-keyframes itsstillcloudy {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 997px 0;
  }
}
@keyframes itsstillcloudy {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 997px 0;
  }
}
@-moz-keyframes itsstillreallycloudy {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 1042px 0;
  }
}
@-webkit-keyframes itsstillreallycloudy {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 1042px 0;
  }
}
@-o-keyframes itsstillreallycloudy {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 1042px 0;
  }
}
@-ms-keyframes itsstillreallycloudy {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 1042px 0;
  }
}
@keyframes itsstillreallycloudy {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 1042px 0;
  }
}
@-moz-keyframes floater {
  0% {
    left: -15%;
  }

  100% {
    left: 105%;
  }
}
@-webkit-keyframes floater {
  0% {
    left: -15%;
  }

  100% {
    left: 105%;
  }
}
@-o-keyframes floater {
  0% {
    left: -15%;
  }

  100% {
    left: 105%;
  }
}
@-ms-keyframes floater {
  0% {
    left: -15%;
  }

  100% {
    left: 105%;
  }
}
@keyframes floater {
  0% {
    left: -15%;
  }

  100% {
    left: 105%;
  }
}
