section.sponsorship
  h2 Sponsor an event or meetup
  p
    | Thanks for your interest in helping out! If you've reached this page then you likely were given a link and have spoken to one of us about sponsoring. If that's the case, please fill in your sponsorship amount below and hit submit. The next screen will prompt you for your payment info.
    form(method="POST", action="/sponsorship")
      input(name='amount', type='number', min='1', max='1000000')
      script(src="https://checkout.stripe.com/v2/checkout.js", class="stripe-button", data-key="#{publishableKey}", data-amount="50000", data-name="Node Philly", data-description="Sponsorship ($500.00)")
  div.clear
script
  Stripe.setPublishableKey('#{publishableKey}');
script(src='/js/stripepayment.js')
