script(src="https://checkout.stripe.com/v2/checkout.js")

section.sponsorship
	h2 Sponsor an event or meetup
	p
		| Thanks for your interest in helping out! If you've reached this page then you likely were given a link and have spoken to one of us about sponsoring. If that's the case, please select your sponsorship amount below and hit submit. The next screen will prompt you for your payment info.
		br
		br
		form(method="POST", action="/sponsorship")
			input(type="hidden", name="key", value="#{publishableKey}")

			div 
				b Select your sponsorship amount 

			select#amount(name="amount")
				option(value="50000")$500.00
				option(value="60000")$600.00
				option(value="70000")$700.00
				option(value="80000")$800.00
				option(value="90000")$900.00
				option(value="100000", selected=true)$1,000.00
				option(value="150000")$1,500.00
				option(value="200000")$2,000.00
				option(value="250000")$2.500.00 
				option(value="500000")$5,000.00

			br
			br
			button(id="pay") Pay With Card
	div.clear
script(src='/js/stripepayment.js')
