section.global
  aside.global
      li(partner='chatham')
        img(src='/imgs/node-philly-partner-chathamfinancial.png', alt='Chatham Financial')
      li(partner='nodejitsu')
        img(src='/imgs/node-philly-partner-nodejitsu.png', alt='Nodejitsu')
      li(partner='voltdb')
        img(src='/imgs/node-philly-partner-voltdb.png', alt='VoltDB')
      li(partner='geeklist')
        img(src='/imgs/node-philly-partner-geeklist.png', alt='Geeklist')
  article.global
    section
      section.content 
        h2 #{result.message}
  div.clear